@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.frame {
  background: #ffffff;
  width: calc(100% - 48px);
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin: 24px;
}
